* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 35px;

  background-color: #000;
}

/* LEFT SIDE */

.navbar-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-left img {
  width: 75px;
  height: auto;
}

.navbar-left span {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}


/* RIGHT SIDE */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-right a {
  color: white;
  text-decoration: none;

  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 600;

  transition: 0.2s ease;
}

.navbar-right a:hover {
  color: #ff9900;
}

.navbar-right-2 {
    display: flex;
    align-items: center;
    gap: 28px;
}

.navbar-right-2 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 4px;
    transition: color 0.2s ease;
}

.navbar-right-2 a:hover {
    color: #ff9900;
}



.navbar-right-2 button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.navbar-right-2 button:hover {
    background-color: white;
    color: #111;
}

.admin-navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.admin-navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.admin-navbar a:hover {
    color: #ff9900;
}


/* Admin logout button */

.admin-navbar button {
    border: none;
    padding: 9px 16px;
    border-radius: 5px;
    background-color: #ff9900;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.admin-navbar button:hover {
    background-color: #e68a00;
}


